html{ background-color: pink;
}

h1{ font-family: sans-serif;
	color: white;
	font-size: 3em;
	text-align: center;
}
.box{ background-color: black;
	width: 400px;
	height: 300px;
	margin: auto;
	border: 5px aqua dotted;
}

.box:hover { background-image: url('http://www.clipartkid.com/images/348/kitty-hugs-cute-kittens-icon-10796547-fanpop-eCm6WW-clipart.gif');
}

background-image{ background-repeat: no-repeat;
	background-position: center;
}
