html{ background-color: pink;
}

h1{ font-family: sans-serif;
	color: white;
	font-size: 3em;
	text-align: center;
}
.box{ background-color: black;
	width: 400px;
	height: 300px;
	margin: auto;
	border: 5px aqua dotted;
}

.box:hover {
	width: 400px;
	height: 300px;
	background-image: url('https://images.pexels.com/photos/62321/kitten-cat-fluffy-cat-cute-62321.jpeg?cs=srgb&dl=animal-blanket-cat-62321.jpg&fm=jpg');
}
